body {
  margin: 30px;
}
.wrapper {
  margin: 5% auto;
  width: 80%;
  text-align: center;
}

.finish-section {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  visibility: hidden;
}
.final-page {
  margin: 0 auto;
  width: 70%;
  visibility: hidden;
}

.all_btn {
  background: darkmagenta;
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: 1px solid cornsilk;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  text-align: center;
  /* cursor: pointer;  */
}
.divContainer,
.q-list,
#response,
form,
input,
#staticEmail2 {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}
.myBtn {
  background: darkmagenta;
  padding: 10px;
  margin: 10px;
  border: 1px solid cornsilk;
  border-radius: 5px;
  color: white;
  font-size: 1em;
}
button {
  background-color: darkmagenta !important;
  border-color: darkmagenta !important;
}
